body{
    display: flex;
    justify-content: center;
}
.post {
    width: 600px;
    height: fit-content;

}
.post-header {
    display: flex;
    height: 50px;
    align-items: center;

}
.post-body {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.post-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-to-the-right {
    margin-left: 72%;
    font-size: 30px;
}
.second-icon-to-the-right{
    margin-left: 80%;
    font-size: 30px;
}
img {
    height: 500px;
    width: 600px;
}
.icons {
    margin-left: 10px;
    font-size: 30px;
}
.icons-body {
    margin-left: 5px;
    font-size: 30px;
}
